/* CheckoutComponent.css */



.CheckoutContainer {
    background-color: #0f0f0fe1;
    padding: 30px;
    border-radius: 10px;
    width: 1000px;
    margin: 0 auto;
    box-shadow: none;
}

form input,
form select,
form textarea {
    padding: 5px 0px;
    font-family: monospace;
    width: 100%;
    margin: 5px 0px 30px 0px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 12px;
}

.OrderId{
    color: #5fffb7e6;
    text-shadow: 1px 1px 20px #5fffb7e6;
}

label{
    font-size: xx-large;
}

form input::placeholder,
form textarea::placeholder {
    color: #ccc;
}

form button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1.5em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

form button:hover {
    border-color: #5fffa4e6;
}

.SubmitButton{
    margin-left: 0px;
    margin-bottom: 10px;

}

.GoBackButton{
    padding: 0.5em 1.1em;
    margin-left: 0px;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 1.5em;
}

.CartTextContainer {
    width: 1000px;
}

.h1EmptyCart {
    margin: 0px;
    padding: 0px 0px 20px 0px;
}


.emptyCartContainer {
    width: 1000px;
    box-shadow: none;
}

.cartItemCard {
    justify-self: center;
    width: 600px;
    height: 200px;
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, #e5e4ea, #e5e4ea, gray);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

.cartItemImageContainer {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productCartImage {
    background-color: #e5e4ea;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}

.productCartImage:hover {
    transform: scale(1.2);
    background-color: #e5e4ea;
    border-radius: 12px;
    overflow: hidden;
}

.cartItems {
    background-color: #0f0f0fb3;
    border-radius: 8px;
    margin-bottom: 20px;
    justify-items: center;
}

.cartItemDetails {
    width: 170%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.cartItemDetails h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.cartItemDetails p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

hr {
    margin: 25px 0px;
    width: 100%;
    border: none;
    margin: 30px 0;
}

.CartButton {
    margin: 30px;
    font-size: x-large;
}


.TotalContainer {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;     /* Centra los elementos verticalmente */
    gap: 10px; 
}





.H1Check{
padding: 30px 0px 5px 0px;
}

.H2Check{
    padding-bottom: 30px;
}

.H3Check{
    font-size: xxx-large;
    margin: 5px 0px 5px 0px;
}

li{
    padding-right: 35px;
    font-size: 12px;
    font-family: monospace;
    margin-bottom: 3px;
}

.TotalSpan{
font-size: x-large;
    display: inline-flex;
    align-items: center;
}

.TotalP{
    color: #5fffb7e6;
    margin-bottom: 0;
    padding-left: 10px;
    margin-top: 0px;
}